{{ define "main" }}
  <div class="content-container">
    <aside> 
      {{ $section := (where .Site.Pages "Section" .Section) }}

      {{ range $section }}
       <ul>
         {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}" 
                 class="{{ if eq .Title $.Title}} selected {{ end}}">{{ .Title }}</a>
            </li>
         {{ end }}
      {{ end }}
      </ul>
    </aside>

    <article> 
        <h1> {{ .Title }} </h1>
        {{ .Content }} 
    </article>
  </div>
{{ end }}
