:root {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  background-color: #FEFEFE;
  color: #121212;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Antic Didone";
}

p, li {
  font-family: "EB Garamond";
}

p {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

pre {
  padding: 1rem;
  overflow-x: scroll;
}

code {
  font-family: 'Courier Prime';
}

header {
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

nav > ul {
  display: inline-block;
}

main {
  margin: 0 auto;
  max-width: 60rem;
}

.content-container {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.content-container article {
  width: 80%;

  padding: 1rem;
  margin: 0 auto;
}

.content-container aside {
  width: auto;
}

.content-container aside ul {
  list-style: none;
  position: sticky;
  top: 4rem;
  width: auto;
  padding: 0;
  margin-right: 1rem;
}

.content-container aside ul li {
  padding: 0.5rem;
  color: #666666;
  font-family: sans-serif;
  padding: 0.5rem 1rem;
}

.selected {
  display: block;
  color: #666666;
  background-color: #EEEEEE;
}

.hide-on-mobile {
  display: auto;
}
.hide-on-desktop {
  display: none;
}

.toggle-chapters {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0.25rem;
}

 @media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: auto;
  }

  .content-container aside {
    width: 50%;
  }

  .content-container ul {
    margin-left: -0.35rem;
  }
}