{{ define "main" }}
  <article>
    {{ .Content }}
  </article>

  {{ with .Site.Menus.tabulas }}
  <h3> Tabulas </h3>
  <ul> 
    {{ range . }}
      <li>
          <a href ="{{ .URL }}">{{ .Title }}</a>
          {{ with $.Site.GetPage .URL }}
            <p> Description: {{ .Description }} </p>

            <p> Authors: 
              {{ $last := (sub (len .Params.Authors ) 1) }}
              {{ range $i, $author := .Params.Authors}} 
                {{ $author }}{{ if lt $i $last }}, {{ end }}
                {{ end }} </p>
          {{ end }}
      </li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}
